@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    box-sizing: border-box;
}

/* .navlinks a::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    color: red;
    background-color: green;
} */

.hide {
    display: none;
    opacity: 0;
    visibility: collapse;
}


/* .left-nav {
    font-size: 30px;
} */


/* #right {
    z-index: -2;
} */

#main-t {
    z-index: 1000;
}

.location {
    font-family:system-ui;
    font-size: medium;
}

.ssss {
    display: flex;
    align-content: center;
}

.absoImg {
    position: absolute;
    top: 160px; /* Adjust this as needed */
    right: 15vw; /* Adjust this as needed */
    z-index: 1;
    height: 200px; /* Default height */
    background-position: top;
}

.absoImg img {
    height: 30vw; /* 25% of viewport width */
    width: 31vw;
    object-fit:cover; /* Maintain aspect ratio and cover container */
}

a:hover {
    color: gray; 
}

.active {
    color: gray;
}

@media (max-width:1024px) {
    .logo-text {
      display: none;
    }

    .logo {
        position: absolute;
        left: 48%;
        top: 25px;
        display:inline;
    }

    .rightbtn {
        padding-left: 190px;
        padding-right: 180px;
        padding-bottom: 100vw;
    }

    .menu {
        position: absolute;
        right: 2vw;
        top: 23px;
    }


    .sign-log {
        display: none;
    }

    .signin-sm {
    display: block;
    }

    .main-home {
        height:72vh;
    }

    .br-large {
        width: 80%;
    }

    
}


.signin-sm {

}


.glow-on-hover {
    width: 190px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #07024a;;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 1px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

/* .glow-on-hover:hover {
    background-color: #07024a;
    color: white;
    border: none;
} */

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    color: blue;
    background: #07024a;
    left: 0;
    top: 0;
    border-radius: 0px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media (max-width:768px) {
    .ydw {
        display: none;
    }

    .location {
        margin-top: 30px;
    }

    .br-large p{
        font-size: 15px;
    }

    /* .here {
        font-size: 3vw;
        width: 70%;
    } */
}

@media (max-width: 640px) {
    .some-s {
        display: none;
    }

    .especially {
        display: none;
    }

    .here {
        display: none;
    }
}

.image-text {
    position: relative;
}

.image-text h3 {
    font-size: 20px;
    white-space: nowrap;
    margin-bottom: 10px;
    font-weight: 550;
}

.image-text p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -3px;
}

.text {
    position: absolute;
    background-color: green;
    bottom: -50px;
    left: 15%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.move {
    transition: transform 2s linear;
    transform: translateX(100px);
}